*div{height: 6235px;
    width: 1838px;
    left: 43px;
    top: 302px;
    border-radius: 0px;
    background: #E7E7E7;

}
.div brother{
    height: 625px;
width: 631px;
left: 43px;
top: 302px;
border-radius: 0px;
background: #C4C4C4;

}