#wrapper
{
    text-align:center;
    margin:0 auto;
    padding: 0px;
    width: 995px;
}
#player
{
    background-color: #E5E5E5;
    width: 400px;
    padding:5px;
    box-sizing:border-box;
}
input[type="image"]
{
    float:left;
    height: 20px;
    margin-left: 2px;
    margin-right: 5px;
    margin-top: 2px;
}
#vol_img
{
    margin-left:150px;
    width:20px;
}
